.wrapper {
  width: 320px;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  object-fit: cover;
}

.follow-btn,
.unfollow-btn {
  padding: 8px 28px;
  font-weight: 400;
}

.unfollow-btn {
  color: var(--black);

  &:hover {
    background-color: rgba(245, 245, 245, 1);
  }
}

.body {
  margin-top: 12px;
  color: var(--text-color);
}

.nickname {
  font-size: 1.8rem;
}

.check {
  font-size: 1.4rem;
  color: #20d5ec;
  margin-left: 4px;
}

.username {
  font-size: 1.4rem;
}

.analytics {
  margin-top: 8px;
  font-size: 1.6rem;
}

.value ~ .value {
  margin-left: 20px;
}

.label {
  color: rgba(22, 24, 35, 0.75);
}
